*{
  margin: 0;
  padding: 0;
}
#footerweb{
  position: relative;
  top: 1500px;
  width: 100%;
  height: 300px;
  background-color: rgb(39, 39, 48);
}

.footerLeft{
  margin: 0;
  position: relative;
  bottom: 400px;
  right: 800px;
  width: 48%;
  float: left;
  color: rgb(255, 255, 255);
}

.footerCenter {
  width: 100%;
  color: rgb(255, 255, 255);
  position: relative;
  float: left;
  text-align: center;
  top: -350px;
}

.footerRight{
  position: relative;
  top: -530px;
  float: right;
  right: 200px;
  color: white;
}

.footerRight p{
  font-size: 50px;
}


@media screen and (max-width: 1030px){
  #footerweb{
    top: 1300px;
  }
  .footerLeft{
    top: -1000px;
    left: 50px;
    color: rgb(255, 255, 255);
  }
  .footerRight{
    position: relative;
    top: -1100px;
    float: right;
    right: 50px;
    color: rgb(255, 255, 255);
  }

  .footerCenter {
    width: 100%;
    color: rgb(255, 255, 255);
    top: -900px;
  }

  
}

@media screen and (max-width: 770px){
  #footerweb{
    top: 1400px;
  }
  .footerLeft{
    top: -1100px;
    left: 50px;
    color: rgb(255, 255, 255);
  }
  .footerRight{
    position: relative;
    top: -1200px;
    float: right;
    right: 50px;
    color: rgb(255, 255, 255);
  }

  .footerCenter {
    width: 100%;
    color: rgb(255, 255, 255);
    top: -1000px;
  }

  
}

@media screen and (max-width: 400px){
  #footerweb{
    top: 1780px;
  }
  .footerLeft{
    top: -1550px;
    left: 20px;
    color: rgb(255, 255, 255);

  }
  .footerRight{
    position: relative;
    top: -1720px;
    float: right;
    right: 20px;
    color: rgb(255, 255, 255);
  }
  .footerRight p{
    font-size: 24px;
  }


  .footerCenter {
    width: 100%;
    color: rgb(255, 255, 255);
    top: -1520px;
  }
  
  
}