
.card{
    width: 950px;

}
.box1{
    position: relative;
    width: 500px;
    height: 250px;
    background-color: rgb(255, 0, 0);
    float: left;

}

.box2{
    position: relative;
    width: 300px;
    height: 250px;
    background-color: rgb(121, 121, 151);

    float: left;

}

.box3{
    position: relative;
    width: 800px;
    height: 250px;
    background-color: rgb(206, 252, 141);
    float: left;


}

.boxText{
    width: 180px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 70px;
    left: 80px;
    align-items: center;

}
.card p{
    position: relative;
    text-align: center;
    top: 50px;
}

.boxText p{
    position: relative;
    top: 0;
}

#province{
    position: relative;
    left: 25%;
    border: 2px solid rgb(160, 160, 255);
    padding: 10px;
    background-color: rgb(222, 207, 250);
}

.secgridnews{
    padding-top: 10px;
    padding-left: 150px;
    position:relative;
    width: 47%;
    height: auto;
    float: left;
  
}

@media screen and (max-width: 1030px){
    #province{
        left: 45%;
    }
    .card{
        width: 1200px;
    
    }
    .box1{
        width: 500px;
    }
    
    .box2{

        width: 450px;

    }
    
    .box3{
        width: 950px;
    }
    .secgridnews{
        right: 60px;
        width: 100%;
      
    }
  
    
}

@media screen and (max-width: 770px){

    .card{
        width: 950px;
    
    }
    .box1{
        width: 450px;
    }
    
    .box2{

        width: 300px;

    }
    
    .box3{
        width: 750px;
    }
    .secgridnews{
        right: 60px;
        width: 100%;
      
    }

    #province{
        left: 40%;
    }

}

@media screen and (max-width: 400px){

    #province{
        left: 30%;
    }

    .card{
        width: 100%;
    
    }

    .box1{
        width: 100%;
    }
    
    .box2{

        width: 100%;

    }
    
    .box3{
        width: 100%;
    }

    .boxText{
        width: 180px;
        left: 25%;
    
    }
    .secgridnews{
        right: 60px;
        width: 100%;
      
    }

    

}