
.card{
    width: 950px;

}
.box1{
    position: relative;
    width: 500px;
    height: 250px;
    background-color: rgb(255, 0, 0);
    float: left;

}

.box2{
    position: relative;
    width: 300px;
    height: 250px;
    background-color: rgb(121, 121, 151);

    float: left;

}

.box3{
    position: relative;
    width: 800px;
    height: 250px;
    background-color: rgb(206, 252, 141);
    float: left;


}

.boxText{
    width: 180px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 70px;
    left: 80px;
    align-items: center;

}
.card p{
    position: relative;
    text-align: center;
    top: 50px;
}

.boxText p{
    position: relative;
    top: 0;
}

#province{
    position: relative;
    left: 25%;
    border: 2px solid rgb(160, 160, 255);
    padding: 10px;
    background-color: rgb(222, 207, 250);
}

.secgridnews{
    padding-top: 10px;
    padding-left: 150px;
    position:static;
    width: 47%;
    height: auto;
    float: left;
  
  }